[submodule "greengrass_parsec_workshop/parsec-client-java"]
	path = greengrass_parsec_workshop/parsec-client-java
	url = https://github.com/parallaxsecond/parsec-client-java.git
	branch = main
[submodule "greengrass_parsec_workshop/aws-greengrass-parsec-provider"]
	path = greengrass_parsec_workshop/aws-greengrass-parsec-provider
	url = https://github.com/56kcloud/aws-greengrass-parsec-provider.git
	branch = main
